<h1>Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Retour au restaurant', @restaurant %> |
<%= link_to 'Retour à la liste des restaurants', restaurants_path %> |

